<%= form_with(scope: :session, url: login_path, local: true) do |form| %>
  <div class="danger has-text-danger">
    <%= flash[:danger] %>
  </div>

  <div class="actions">
    <div class="field">
      <%= form.label :email, class:'label' %>
      <div class="control">
        <%= form.email_field :email, class:'input is-primary' %>
      </div>

      <!--<%= form.label :password %>
      <%= form.password_field :password %>-->

      <%= form.submit "Beat it", class:'button is-primary'%>
    </div>
  </div>
<% end %>
