<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Even title</th>
      <th>Event Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Event', new_event_path %> <br />
<%= link_to 'New User', new_user_path %> <br />
<%= link_to 'Back', users_path %>
