<div class="controls">
  <%= link_to 'Back', users_path, class:'button is-primary' %>
</div>

<div class="event-tables tables">
  <h1 class="title title-event is-4 navbar-item"><%= @user.name.capitalize %>'s events:</h1>
  <table>
    <thead>
      <tr>
        <th>
          <%= fa_icon "calendar" %>
          <span>Created Events</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render partial:'event', locals: { posts: @events_by_current_user } %>
    </tbody>
  </table>
</div>

<div class="event-tables tables">
  <h1 class="title title-event is-4 navbar-item"><%= @user.name.capitalize %> is attending the following events:</h1>
  <table>
    <thead>
      <tr>
        <th>
          <%= fa_icon "calendar" %>
          <span>Upcoming Events</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render partial:'event', locals: { posts: @upcoming_events } %>
    </tbody>
</table>

  <table>
    <thead>
      <tr>
        <th>
          <%= fa_icon "calendar" %>
          <span>Previous Events</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render partial:'event', locals: { posts: @prev_events } %>
    </tbody>
  </table>
</div>
