
<div class="controls">
  <%= link_to 'Edit', edit_event_path(@event), class:'button is-primary' %>
  <%= link_to 'Back', events_path, class:'button is-primary' %>
</div>
<div class="single-event-page box box-radius">
  <div class="single-event">
    <p>
      <strong>Title: </strong>
      <%= @event.title %>
    </p>

    <p>
      <strong>Description: </strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Date: </strong>
      <%= @event.date.to_formatted_s(:long_ordinal) %>
    </p>

    <p>
      <strong>Creator: </strong>
      <%= @event.creator.name %>
    </p>
  </div>

  <div class="event-btn" style="margin: 10px 0">
    <%= event_attendance_button(@event) %>
  </div>

  <div class="event-attendees">
    <p>
      <strong>Attendees:</strong>
      <% @attendees.each do |attendee| %>
        <li><%= attendee.name %></li>
      <% end %>
    </p>
  </div>
</div>
