
<!DOCTYPE html>
<html>
  <head>
    <title>PivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <% if flash[:notice] %>
        <div class="notification is-primary global-notification is-marginless">
          <h1 class="notice has-text-weight-bold is-family-code"><%= notice %></h1>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notification is-danger global-notification is-marginless">
          <h1 class="alert has-text-weight-bold is-family-code"><%= alert %></h1>
        </div>
      <% end %>
      <%= render 'layouts/nav_bar' %>
      <% if !current_user %>
        <h1 class="title is-4 navbar-item is-marginless">Welcome aboard!</h1>
      <% end %>
    </header>
    <% if current_user %>
      <h1 class="title is-4 navbar-item is-capitalized">Hi <%= current_user.name %>!</h1>
    <% end %>

  <%= yield %>
  </body>
</html>
