
<!DOCTYPE html>
<html>
  <head>
    <title>PivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if current_user %>
      Hi <%= current_user.name %>
      |
      <%= link_to 'Log out', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', login_path %>
      |
      <%= link_to 'Sign up', new_user_path %>
    <% end %>
    <%= render 'layouts/nav_bar' %>
  </header>



  <%= yield %>
  </body>
</html>
